In [2]:
import pandas
pandas.options.display.max_colwidth = 100

In [32]:
df = pandas.read_excel('developer_profile.xlsx')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4361 entries, 0 to 4360
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4361 non-null   object
 1   n                     4361 non-null   object
 2   logo                  2113 non-null   object
 3   jml_prpt              4361 non-null   int64
 4   label                 4361 non-null   object
 5   status_premium        4361 non-null   int64
 6   segmentasi_dev        2839 non-null   object
 7   registered_sikumbang  4361 non-null   int64
 8   developer_url         4361 non-null   object
 9   property_url          4361 non-null   object
 10  address               4327 non-null   object
 11  phone                 4348 non-null   object
 12  email                 4360 non-null   object
 13  about                 4361 non-null   object
 14  speciality_service    4361 non-null   object
 15  area                  4361 non-null   object
dtypes: int64(3), object(13)
memory usage: 545.2+ KB

In [34]:
# Data Cleansing: label

In [35]:
df['label'].unique()

array(["['rumah']", '[]', "['apartement']", "['rumah', 'apartement']"],
      dtype=object)

In [36]:
# Replacing [ and ]
df['label'] = df['label'].str.replace('[','').str.replace(']','').str.replace("'","")

In [37]:
df['label'].head()

0    rumah
1
2    rumah
3
4    rumah
Name: label, dtype: object

In [38]:
# Data Cleansing: phone

In [57]:
df_expanded
# df_expanded.to_excel('phones.xlsx', index=False)

In [116]:
# This will create a df with new column as its expanded from df[phone]
df_expanded = df['phone'].str.split('/', expand=True)
df_expanded.columns = ['phone1', 'phone2', 'phone3']

df_expanded_expanded = df_expanded['phone1'].str.split(",", expand=True)
df_expanded_expanded.columns = ['phone4', 'phone5', 'phone6', 'phone7']
df_expanded = df_expanded.join(df_expanded_expanded)

In [117]:
df_expanded = df_expanded.apply(lambda x: x.str.replace(r'\D', '', regex=True))

In [118]:
df_expanded['phone4'] = df_expanded['phone4'].astype('string')
df_expanded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4361 entries, 0 to 4360
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   phone1  4347 non-null   object
 1   phone2  253 non-null    object
 2   phone3  26 non-null     object
 3   phone4  4347 non-null   string
 4   phone5  10 non-null     object
 5   phone6  2 non-null      object
 6   phone7  1 non-null      object
dtypes: object(6), string(1)
memory usage: 238.6+ KB

In [173]:
def is_whatsapp(x):
    if pandas.notna(x) and len(x) > 5:
        if "08" in x or "628" in x or x.startswith('8'):
            return f"https://wa.me/{x}"
    else:
        return None

In [174]:
df_expanded['whatsapp'] = df_expanded['phone4'].apply(lambda x: is_whatsapp(x))

In [175]:
df_expanded['office_phone'] = df_expanded.apply(lambda row: row['phone4'] if row['whatsapp'] is None else None, axis=1)

In [163]:
df_expanded['whatsapp'] = df_expanded.apply(lambda row: f"https://0{row['office_phone']}" if row['whatsapp'] is None else row['whatsapp'], axis=1)

In [176]:
df_expanded['office_phone'].unique()

array([None, '02188856387', '02155689777', '0', '025459450666',
       '0216339377', '06142568441', '0223738100', '6006829', '022791559',
       '02188997225', '02189457801', <NA>, '0274414054', '0317590980',
       '02188856000', '0218671155', '0214890188', '0431817714',
       '0561713747', '0623357372', '0218762179', '0431811577',
       '02153157263', '02130030601', '02518212060', '02156948888',
       '05618128388', '03185587787', '0317322144', '0812', '0315012999',
       '07116201188', '02189071865', '02122259666', '073624996',
       '0911361429', '02284228746', '0461370390', '021', '02122326200',
       '58903588', '0431833819', '0729', '0315616622', '62217548455',
       '02517538060', '02943696464', '0227833916', '02189133555',
       '02285941331', '02174864427', '06142561517', '02648330773',
       '450333', '70666855', '0411456199', '02622860924', '0217536222',
       '0215986545', '04013418011', '0711721217', '06173383298',
       '06142786388', '02129253555', '02476633182', '07477332249',
       '02742823438', '0561765199', '0211500517', '0761', '02518642222',
       '02624892039', '0231', '481186', '02284225306', '217271888',
       '0318700022', '5534999', '03185341254', '02286121687',
       '03130006018', '02129050900', '02518591107', '03199441042',
       '05416522020', '0215705105', '02517555764', '0614526407',
       '07477332443', '03514772053', '07618410617', '000011112222',
       '0318557248', '02182752577', '0561775759', '02744398197',
       '61467245', '03215885020', '02547816868', '00001112222',
       '022162641', '02189323768', '02954101369', '0217548455',
       '02678642272', '0267432851', '03619313991', '0542872996',
       '0218952686', '02159498528', '02632953512', '05618174336',
       '00331412588', '02189846777', '02122175000', '02129662268',
       '0542420333', '0271729598', '02189228918', '021189237602',
       '0315054787', '07557335236', '0411', '0281636970', '03199427805',
       '0227817777', '05114283143', '0518753030', '073652319', '763224',
       '0345345', '02287826306', '1234567890', '0224264230', '0218580322',
       '0271858059', '0411459353', '07787417373', '02127598899',
       '012382910', '0211234567', '07215610561', '05117942010',
       '0265752624', '07717011838', '0618453359', '02518591465',
       '02678411011', '02184310362', '0215422115002129506121',
       '02122114452', '02747400223', '02548491880', '02153191322',
       '02678456260', '05116747687', '02129094499', '04114098249',
       '0317670445', '07217621050', '0234273849', '02187792734',
       '0354777677', '02187926777', '331321471', '02518352796',
       '0212904881011', '0123456789', '0285434955', '0811', '0231312700',
       '02666722888', '22604', '02189833955', '02854495344',
       '0217587198202194458636', '0341723630', '02129252587',
       '0351454430', '0319924848', '06244970754', '0231323700', '581057',
       '02643542229', '0218844434', '03517025152', '0322458794',
       '3522121', '03619069594', '02717892886', '0123', '0333424152',
       '06180046292', '07215616946', '02155913456', '04113615377',
       '02662483900', '0617323326', '02517542000', '02632918212',
       '0333417786', '0282545721', '0741580419', '00000000000',
       '0717431347', '627413064955', '4264230', '02648303945',
       '0254281111', '02622542853', '07517051276', '07367313583',
       '0778466222', '0721470630', '0361727756', '0227312369',
       '62217902227', '02612401356', '02189462999', '02518566954',
       '07784802467', '02678411779', '07217025524', '02318300147',
       '0351472888', '074163381', '02518586111', '0218975911',
       '07367325610', '75139397', '07518970112', '0313977900',
       '0215302261', '0217566666', '081', '031', '625428510188',
       '02744292845', '0761566938', '02122532990', '07255263220',
       '0274391540', '62542876576', '05113255898', '07413603536',
       '0217404749', '07287251184', '02678634193', '02182431788',
       '0215825757', '07367321044', '02744395862', '02744438438',
       '02220507406', '02189250689', '02186901174', '02188395683',
       '02517594548', '02678407878', '00000000000000000000', '7304652',
       '0321', '02122722033', '042190002', '03133300099', '0287471336',
       '04518445001', '0281684311', '02122865165', '62721783360',
       '02548484932', '07714651298', '07174256000', '09213115264',
       '07217359371', '05616713460', '0265334981', '06344321172',
       '02129857200', '0621329174', '0284323629', '0711711995',
       '07517056966', '0717421974', '06142003333', '0262233011',
       '0761673999', '02547814930', '07353740522', '0333420989',
       '06142406899', '02863304775', '0331332957', '09871100662',
       '0771442776', '02752971111', '02175792888', '02129195297',
       '02547817138', '02155782526', '03618946713', '00000000',
       '0317530123', '05414115224', '08', '0218893333', '075131179',
       '02476400196', '000', '0274485999', '02122857164', '07517858206',
       '0423420333', '0321123', '0711822009', '02286678112',
       '028133090902', '0282531766', '0511', '26332', '0218196910',
       '0217560323', '02313636250', '02547542000', '0751499542',
       '02252399609', '07215600269', '0215962222', '0254204777',
       '07654370377', '02136425591', '0182888732', '422909',
       '02174631000', '02122889588', '622121011200', '02934960615'],
      dtype=object)

In [181]:
df_expanded['whatsapp'].iloc[300:]

300                           None
301     https://wa.me/082313948131
302      https://wa.me/08128001596
303                           None
304       https://wa.me/0811405887
                   ...
4356     https://wa.me/08113276410
4357    https://wa.me/085714631280
4358    https://wa.me/087780999782
4359    https://wa.me/085278270573
4360    https://wa.me/085240511775
Name: whatsapp, Length: 4061, dtype: object

In [182]:
df_origin_with_phones = df.join(df_expanded)

In [183]:
df_origin_with_phones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4361 entries, 0 to 4360
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4361 non-null   object
 1   n                     4361 non-null   object
 2   logo                  2113 non-null   object
 3   jml_prpt              4361 non-null   int64
 4   label                 4361 non-null   object
 5   status_premium        4361 non-null   int64
 6   segmentasi_dev        2839 non-null   object
 7   registered_sikumbang  4361 non-null   int64
 8   developer_url         4361 non-null   object
 9   property_url          4361 non-null   object
 10  address               4327 non-null   object
 11  phone                 4348 non-null   object
 12  email                 4360 non-null   object
 13  about                 4361 non-null   object
 14  speciality_service    4361 non-null   object
 15  area                  4361 non-null   object
 16  phone1                4347 non-null   object
 17  phone2                253 non-null    object
 18  phone3                26 non-null     object
 19  phone4                4347 non-null   string
 20  phone5                10 non-null     object
 21  phone6                2 non-null      object
 22  phone7                1 non-null      object
 23  whatsapp              3556 non-null   object
 24  office_phone          791 non-null    object
dtypes: int64(3), object(21), string(1)
memory usage: 851.9+ KB

In [184]:
df_origin_with_phones.to_excel('developer_profile_minus_address.xlsx', index=False)