In [2]:
import pandas
pandas.options.display.max_colwidth = 100

In [23]:
df_profile = pandas.read_excel('developer_profile.xlsx')
df_project = pandas.read_excel('developer_project_data.xlsx')

In [55]:
# List which dev not in profile
missing_id = []
for profile in id_from_project:
    if profile not in full_id:
        missing_id.append(profile)
print(len(missing_id))

3

In [40]:
zero_project_dev = df_profile[df_profile['jml_prpt']==0]
print(len(zero_project_dev))

238

In [25]:
# id in profile
df_profile[['id', 'jml_prpt']]

        id  jml_prpt
0     SPS9         4
1     AAAG         0
2     UPP2         4
3     CP81         0
4     T885         9
...    ...       ...
4356  Z033         2
4357  Z035         1
4358  ZBDL         3
4359  ZGA1         2
4360  ZPJ1         1

[4361 rows x 2 columns]

In [59]:
# ID_DEV in project
id_counter = df_project['ID_DEV'].value_counts().rename_axis('id').reset_index(name='counts')

# df_profile_id_dev = df_profile[['id', 'jml_prpt']]
# id_counter = df_profile_id_dev.merge(id_counter, on='id')

In [60]:
id_counter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4113 entries, 0 to 4112
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4113 non-null   object
 1   counts  4113 non-null   int64
dtypes: int64(1), object(1)
memory usage: 64.4+ KB

In [43]:
# Find which one is not found
id_counter['is_equal'] = id_counter.apply(lambda row: True if row['counts']==row['jml_prpt'] else False, axis=1)

In [45]:
id_counter[id_counter['is_equal']==None]

Empty DataFrame
Columns: [id, jml_prpt, counts, is_equal]
Index: []

In [56]:
id_counter

        id  jml_prpt  counts  is_equal
0     SPS9         4       4      True
1     UPP2         4       4      True
2     T885         9       9      True
3     SPI5         1       1      True
4     ZAP7         1       1      True
...    ...       ...     ...       ...
4105  Z033         2       2      True
4106  Z035         1       1      True
4107  ZBDL         3       3      True
4108  ZGA1         2       2      True
4109  ZPJ1         1       1      True

[4110 rows x 4 columns]

In [61]:
join_df = df_profile.set_index('id').join(id_counter.set_index('id'))

In [67]:
join_df[['n','jml_prpt','counts']].to_excel('missing_id.xlsx')